In [1]:
curr_pop = 10000

for i in range(10,0,-1):
    print(i,curr_pop)
    curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [5]:
#Sequence Sum
#1/!1 + 2/2! + 3/3! + till nth term

n = int(input("Enter n"))

result = 0
fact = 1
for i in range(1,n+1):
    fact = fact * i
    result = result + i/fact

print(result)

2.5

## Nested loops

In [6]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1

In [12]:
""" 
*
* *
* * *
""" 
# code :
rows = int(input("Enter no of rows :"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end='')
    print()

*
**
***

### Pattern 2

In [20]:
""" 
1l
121
12321
1234321
""" 
# code :
rows = int(input("Enter no of rows :"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

1
121
12321
1234321

### Loop Control Statement
    Break
    continue
    Pass

In [22]:
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [23]:
#check prime number in range
lower = int(input("Enter lower range"))
upper = int(input("Enter upper range"))

for i in range(lower,upper+1):
    for j in range(2,i):
        if i%j == 0:
            break 
    else:
        print(i)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [24]:
#continue statement:
for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [27]:
#pass statement
for i in range(1,10):
    pass

## Strings

In [ ]:
""" 
Strings are Sequence of Characters

In Python specially, strings are a sequence of Unicode Characters

1> Creating Strings
2> Accessing Strings 
3> Adding Chars to Strings 
4> Editing Strings
5> Deleting Strings 
6> Operations On Strings
7> String Fucntions
"""

In [1]:
#Creating Strings

s = 'Hello'
s = "Hello"
#multiline strings used for ''' 
s = '''hello'''
s = """hello""" 
s = str('hello')
print(s)

hello

In [3]:
# difference between " " and ''
# 'it's raining outside'      #python thinks the strings starts from i and end in t but its not
"it's raining outside"

"it's raining outside"

In [4]:
#Accessing sub-string from a string

#positive Indexing
s = 'Hello World'
print(s[2])

l

In [5]:
#negative Indexing
s = 'hello world'
print(s[-1])
print(s[-2])

d
l

In [12]:
#slicing 
s = 'hello world'
print(s[0:5])
print(s[2:3])
print(s[2:])
print(s[:3])
print(s[:])

print(s[0:6:2])
print(s[6:0:-1])

hello
l
llo world
hel
hello world
hlo
w olle

In [13]:
print(s[::-1])          #reverse a string

dlrow olleh

In [18]:
#slicing using negative indexing
print(s[-5:])
print(s[-1:-6:-1])

world
dlrow

### Edit and Deleting Strings

In [20]:
s = 'hello world'
s[0] = 'H'

#Python strings are immutable i.e cannot be changed

TypeError: 'str' object does not support item assignment

In [21]:
#how to delete a string
s = 'hello worlds'
del s    #print throws a errror as s has been deleted.
print(s)

NameError: name 's' is not defined

In [22]:
s = 'hello world'
del s[-1:-5:2]      #a portion of strings cant be deleted as it will make the original string change thats becomes mutable but we know strings are immutable so this will not work.
print(s)

TypeError: 'str' object does not support item deletion

## Operations on Strings 
1> Arithmetic Operations <br>
2> Relational Operations <br>
3> Logical Operations <br>
4> Loops On Strings <br>
5> MemberShip Operations <br>

In [25]:
#Arithmetic Operations

print('Delhi' + ' ' + 'Mumbai')         #used for concatination

Delhi Mumbai

In [26]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [27]:
print("*"*50)

**************************************************

In [28]:
#Relational Operator

'delhi' == 'Mumbai'

False

In [29]:
'delhi' == 'delhi'

True

In [30]:
'mumbai' > 'pune'
#strings are lexiographically compared i.e compared using ASCII values

False

In [31]:
'Pune' > 'pune'

False

In [32]:
#Logical Operators

'hello' and 'world'

'world'

In [33]:
'hello' or 'world'

'hello'

In [35]:
'' and 'world'

''

In [36]:
not ''       #coz empty string is False

True

In [37]:
#4> for loops in Strings
for i in 'hello':
    print(i)

h
e
l
l
o

In [38]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [39]:
#Membership operator in/not in
'D' in 'Delhi'

True

In [40]:
'D' not in 'Delhi'

False

## Some functions Of Strings
1> len <br>
2> max <br>
3> min <br>
4> sorted <br>

In [41]:
#common Functions
len('hello world')

11

In [42]:
max('hello world')      #print the letter has max ASCII value

'w'

In [44]:
min('hello world')     #print the letter has min ASCII value

' '

In [46]:
sorted('hello world')      #this will print a list with sorted letters, sorting is done according to Their ASCII values

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [47]:
#can be done in descending order using reverse =True
sorted('hello world',reverse=True)      #this will print a list with sorted letters, sorting is done according to Their ASCII values

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Some functions works only with Strings not with other datatypes
1> Capitalize <br>
2> Title <br>
3> Upper <br>
4> Lower <br>
5> Swapcase <br>

In [48]:
s = 'hello world'
s.capitalize()         #convert the 1st letter of the world to capital

'Hello world'

In [50]:
s.title()          #this will convert 1st word of every word to capital

'Hello World'

In [51]:
s.upper()        #convert to uppercase

'HELLO WORLD'

In [52]:
s.lower()           #convert to lowercase

'hello world'

In [53]:
'HelLo WorLD'.swapcase()

'hELlO wORld'

1> count <br>
2> Find <br>
3> Index <br>

In [54]:
'my name is sounak'.count('m')

2

In [56]:
'my name is sounak'.find('is')

8

In [57]:
'my name is sounak'.find('x')

-1

In [58]:
'my name is sounak'.index('is')

8

In [59]:
'my name is sounak'.index('x')                 #this is same as find but this throws error if letter is not present instend of -1.

ValueError: substring not found

1>endswith <br>
2>startswith <br>

In [60]:
'my name is sounak'.endswith('k')

True

In [62]:
'my name is sounak'.startswith('my')

True

1> format

In [63]:
name = 'sounak'
gender = 'male'

'Hi my name is {} and I am a {}'.format(name,gender)

'Hi my name is sounak and I am a male'

1> isalnum <br>
2> isalpha <br>
3> isdigit <br>
4> isidentifier <br>

In [64]:
'Sounak1234'.isalnum()

True

In [65]:
'Sounak1234%'.isalnum()

False

In [66]:
'Sounak1234'.isalpha()

False

In [67]:
'Sounak'.isalpha()

True

In [68]:
'123abc'.isdigit()

False

In [69]:
'1name'.isidentifier()

False

In [70]:
'first_name'.isidentifier()

True

In [71]:
'first-name'.isidentifier()

False

1> Split <br>
2> join <br>

In [72]:
'hi my name is sounak'.split()        #create a python list using all the words of the string

['hi', 'my', 'name', 'is', 'sounak']

In [73]:
'hi my name is sounak'.split('i')        #create a python list using all the words of the string

['h', ' my name ', 's sounak']

In [75]:
" ".join(['hi', 'my', 'name', 'is', 'sounak'])

'hi my name is sounak'

1> Replace

In [76]:
'hi my name is sounak'.replace('sounak','student')

'hi my name is student'

1> strip

In [ ]:
'sounak                    '.strip()